*{
    margin: 0 auto; 
    box-sizing: border-box;   
}
.container{
    display: flex;
    align-self: center;
    width: 100%;
    height: 500px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1024px;

}

.background_img{
    background-image: url(img/15-9.jpg);
    -webkit-background-size: cover; /* Для хрома */
    -moz-background-size: cover;  /* Для лисы*/
    -o-background-size: cover;  /* Для оперы*/
    -ms-background-size: cover;  /* Для ИЭ*/
    background-size: cover;  /* Для закрипления*/
}

.back_color{
    background-color: #848482;
}

.logo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center; 
    height: 67px;  
}


.content_text{
    font-size: 45px;
    color: white;
    text-align: center;
}

.content_poddext{
    font-size: 20px;
    color: white;
    text-align: center;
}

.content_video{
    display: flex;
}

.content_video_r{
    text-align: right;
}

.content_video_l{
    text-align: left;
}

.content_about{
    display: flex;
    flex-direction: column;
}

.content_about img{
    width: 80%;
    border-radius: 50%;

}

.about_txt{
 display: flex;
 flex-direction: column;
 font-size: 15px;
 margin-top: 20px;
 width: 70%;
 color: white;
}

.background_img_foot{
    background-image: url(img/ankernii-sterzhen.jpg);
    -webkit-background-size: cover; /* Для хрома */
    -moz-background-size: cover;  /* Для лисы*/
    -o-background-size: cover;  /* Для оперы*/
    -ms-background-size: cover;  /* Для ИЭ*/
    background-size: cover;  /* Для закрипления*/
}